<!DOCTYPE html>
<html>
<head>
	<title>Shelkovod</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato%3A100%2C100italic%2C300%2C300italic%2Cregular%2Citalic%2C700%2C700italic%2C900%2C900italic&amp;subset=latin&amp;' type='text/css' media='all' />
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Noto+Sans%3Aregular%2Citalic%2C700%2C700italic&amp;subset=greek%2Ccyrillic-ext%2Ccyrillic%2Clatin%2Clatin-ext%2Cvietnamese%2Cgreek-ext&amp;' type='text/css' media='all' />
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Merriweather%3A300%2C300italic%2Cregular%2Citalic%2C700%2C700italic%2C900%2C900italic&amp;subset=latin%2Clatin-ext&amp;' type='text/css' media='all' />
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Mystery+Quest%3Aregular&amp;subset=latin%2Clatin-ext&amp;' type='text/css' media='all' />

	<%= stylesheet_link_tag "custom/style", "data-turbo-track": "reload" %>
	<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

	<%= javascript_importmap_tags %>
</head>
<body class="home page-template-default page page-id-5680 _masterslider _msp_version_3.2.7 woocommerce-no-js">
	
	<div class="body-wrapper  float-menu">
		<header class="greennature-header-wrapper header-style-5-wrapper greennature-header-with-top-bar">
				<%= render 'shared/contact_bar' %>
				<div id="greennature-header-substitute"></div>
				<%= render 'shared/menu' %>
		</header>

		<div class="content-wrapper">
    	<div class="greennature-content">
    		<div class="with-sidebar-wrapper">
	    		<% if notice %>
					  <p class="alert alert-success"><%= notice %></p>
					<% end %>
					<% if alert %>
					  <p class="alert alert-danger"><%= alert %></p>
					<% end %>

	    		<%= yield %>
	    	</div>
	    </div>
	    <!-- greennature-content -->
  	  <div class="clear"></div>
		</div>

		<footer class="footer-wrapper">
			<%= render 'shared/footer' %>
		</footer>

		<%= render 'shared/donation_form' %>
	</div>

	<%= javascript_include_tag "custom/jquery/jquery" %>
	<%= javascript_include_tag "custom/jquery/jquery-migrate.min" %>
	<%= javascript_include_tag "custom/superfish" %>
	<%= javascript_include_tag "custom/hoverIntent.min" %>
	<%= javascript_include_tag "custom/modernizr.custom" %>
	<%= javascript_include_tag "custom/jquery.dlmenu" %>
	<%= javascript_include_tag "custom/jquery.easing" %>
	<%= javascript_include_tag "custom/jquery.fancybox.pack" %>
	<%= javascript_include_tag "custom/jquery.fancybox-media" %>
	<%= javascript_include_tag "custom/jquery.fancybox-thumbs" %>
	<%= javascript_include_tag "custom/jquery.flexslider" %>
	<%= javascript_include_tag "custom/jquery.isotope.min" %>
	<%= javascript_include_tag "custom/plugins" %>
	<%= javascript_include_tag "custom/masterslider.min" %>
	<%= javascript_include_tag "custom/jquery.transit.min" %>
	<%= javascript_include_tag "custom/gdlr-portfolio-script" %>

	<script>
		(function ( $ ) {
			"use strict";


			$(function () {
					var masterslider_d1da = new MasterSlider();
					// slider controls
					masterslider_d1da.control('arrows'     ,{ autohide:true, overVideo:true  });
					masterslider_d1da.control('bullets'    ,{ autohide:false, overVideo:true, dir:'h', align:'bottom', space:6 , margin:25  });
					// slider setup
					masterslider_d1da.setup("slider_1", {
						width           : 1140,
						height          : 800,
						minHeight       : 0,
						space           : 0,
						start           : 1,
						grabCursor      : false,
						swipe           : true,
						mouse           : false,
						keyboard        : true,
						layout          : "fullwidth",
						wheel           : false,
						autoplay        : false,
										instantStartLayers:false,
						mobileBGVideo:false,
						loop            : true,
						shuffle         : false,
						preload         : 0,
						heightLimit     : true,
						autoHeight      : false,
						smoothHeight    : true,
						endPause        : false,
						overPause       : true,
						fillMode        : "fill",
						centerControls  : true,
						startOnAppear   : false,
						layersMode      : "center",
						autofillTarget  : "",
						hideLayers      : false,
						fullscreenMargin: 0,
						speed           : 20,
						dir             : "h",
						parallaxMode    : 'swipe',
						view            : "basic"
					});
					
					window.masterslider_instances = window.masterslider_instances || {};
					window.masterslider_instances["5_d1da"] = masterslider_d1da;
				 });	
		})(jQuery);
	</script> 
</body>
</html>
